<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script type="text/javascript" src="/client/static/js/three.js"></script>
        <script type="text/javascript" src="/client/static/js/GCodeLoader.js"></script>
        <script type="text/javascript" src="/client/static/js/OrbitControls.js"></script>

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.preview {

    //max-height: 300px;

}

</style>
</head>
<body class="w3-light-grey">
    
<div id="vm">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">

    <button v-if="!estop" v-on:mousedown="setState(1)">eStop</button>
    <button v-if="estop" v-on:mousedown="setState(2)">eStop reset</button>
    <button v-if="enabled" v-on:mousedown="setState(3)">machine Off</button>
    <button v-if="!enabled" v-on:mousedown="setState(4)">machine On</button>

  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">LinuxCNC - Webview</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  MDI</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Jog</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Info</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:15px">
  </header>



  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter"  v-for="(value, axis) in position">
      <div class="w3-container w3-red w3-padding-5">
        <div class="w3-left"><i><h1>[[ axis ]]</h1></i></div>
        <div class="w3-right">
          <h3>[[ value["pos"] ]] mm</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>[[ value["homed_str"] ]]</h5>

        <button v-on:mouseup="JogStop([[axis]])" v-on:mousedown="JogStart([[axis]], -100)">-</button>
        <button v-on:mouseup="JogStop([[axis]])" v-on:mousedown="JogStart([[axis]], 100)">+</button>
        
        <button v-on:mousedown="doApiCall('homing/' + [[axis]])">H</button>

      </div>
    </div>
  </div>


  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter"  v-for="(value, num) in spindle">
      <div class="w3-container w3-red w3-padding-5">
        <div class="w3-left"><i><h3>Spindle: [[ num ]]</h3></i></div>
        <div class="w3-right">
          <h3>[[ value["speed"] ]] UPM</h3>
        </div>
        <div class="w3-clear"></div>
        <h5>[[ value["override"] ]]</h5>
        
        <input type="range" min="0.0" max="100.0" value="value['override']" v-model="value['override']" step="1.0" class="slider" v-model="sliderVal" @change="spindleChange">
        
      </div>
    </div>
  </div>


  <div class="w3-panel">
    <button v-on:mousedown="doApiCall('homing/-1')">HOME ALL</button>
  </div>


<table>
    <body>
        <tr>
            <td><h5>Feed-Override</h5></td>
            <td valign="right"><h5>[[ feedrate ]] %</h5></td>
            <td><input type="range" min="0.0" max="100.0" value="[[ feedrate ]]" v-model="feedrate" step="1.0" class="slider" v-model="sliderVal" @change="feedrateChange"></td>
        </tr>
        <tr>
            <td><h5>Rapid-Override</h5></td>
            <td valign="right"><h5>[[ rapidrate ]] %</h5></td>
            <td><input type="range" min="0.0" max="100.0" value="[[ rapidrate ]]" v-model="rapidrate" step="1.0" class="slider" v-model="sliderVal" @change="rapidrateChange"></td>
        </tr>
    </body>
</table>


  <div class="w3-panel">
<iframe width=90% src="/get_file" title="gcode"></iframe>


    <div class="preview" id="preview"></div>
  </div>



[[ interp_state ]] interp_state<br/>
[[ task_state ]] task_state<br/>



  <!-- End page content -->
</div>
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}

</script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="{{ url_for('client_bp.static', filename='index.js') }}"></script>

</body>
</html>
